# TODO
# - curl is working, why not Firefox?!
# - Figure out how to expand an env var that contains spaces, *, newline, etc.
# - Add test Dockerfile/directory to compose!
# - Log both successful and unsuccessful attempts
# - Add auth back in
# -   Parameterize user + path from env vars
# - Present forward_proxy for https://*:443, used for development
#   - Have to work out SmallStep: https://github.com/caddyserver/caddy/issues/3021
#   - If it has to be another block: use Caddyfile templating to make them identical!

{
	debug
    log {
		format console
        level DEBUG
	}
    # auto_https disable_redirects
}

# Do NOT remove :443 from the start of this line. It's necessary for the
# forward_proxy directive to operate
:443, localhost:8080
route {
	forward_proxy {
		# TODO: Make configurable
		# basic_auth {$USER} {$PASS}

		# basic_auth user pass

		acl {
			# TODO: Make configurable
			# allow {$ALLOWHOST}

			# TODO: Parameterize from file
			# allow_file {$ALLOWFILE}

			# TODO: Also get a whole allow/deny list from an env var
			# ${ALLOWHOSTS}

			allow test-python-flask.app.cloud.gov
			deny all
		}

		# TODO: Make configurable. 
		#   ports {$ALLOWPORT}

		# TODO: Anything weird about expanding more than one?
		#   ports {$ALLOWPORTS}

		ports 80 443
        serve_pac
	}

    # We think this may be needed in order for serve_pac to the /proxy.pac.
    # There is no evidence for that, really, but it appears in the example for forwardproxy.
	file_server
}
