services:
  caddy:
    build:
      context: proxy
      dockerfile: $PWD/Dockerfile
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - $PWD/proxy:/etc/caddy
    environment:
      # Solution to get Alpine to run the .profile comes from
      # https://stackoverflow.com/a/43743532/17138235
      - ENV=/srv/.profile
      - https_proxy=https://localhost:8080
      # Provide the CF env fixtures... more are needed!
      - PORT=8080

      # The variables that matter to the app
      - PROXY_USERNAME=user
      - PROXY_PASSWORD=pass
      - PROXY_PORTS=443
      - PROXY_DENY="*.yahoo.com"
      - PROXY_ALLOW= |
        "*.google.com
